footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5vw;
  border: 3px solid midnightblue;
  border-radius: 5px;
  margin: 1rem 2rem;
  padding: 1rem;
}

.andres:hover {
  cursor: pointer;
}

.hiddenLink {
  visibility: hidden;
}

.visibleLink {
  color: dodgerblue;
  font-size: 2vw;
  visibility: visible;
}
