header {
  text-align: center;
  margin: 1rem;
  word-spacing: 1rem;
}

.h1,
.h1Crimson {
  font-size: 4vw;
  width: fit-content;
  margin: auto;
  margin-bottom: 2rem;
  padding-bottom: .5rem;
  border-bottom: 3px double crimson;
}

.h1:hover, 
.h1Crimson:hover {
  cursor: pointer;
}

.h1Crimson {
  color: crimson;
  border-bottom: 3px double black;
}

.hornForm {
  display: flex;
  flex-direction: column;
}

.btn {
  margin: auto;
  width: 30%;
  font-size: .75vw;
}

.form-label {
  font-size: 2vw;
  margin-bottom: 1rem;
}

.form-select {
  text-align: center;
  width: 50%;
  font-size: .75vw;
  margin: .5rem auto;
}