header {
  text-align: center;
  margin: 1rem;
  word-spacing: 1rem;
}

.h1,
.h1Crimson {
  font-size: 4vw;
  width: fit-content;
  margin: auto;
  margin-bottom: 2rem;
  padding-bottom: .5rem;
  border-bottom: 3px double crimson;
}

.h1:hover, 
.h1Crimson:hover {
  cursor: pointer;
}

.h1Crimson {
  color: crimson;
  border-bottom: 3px double black;
}

.hornForm {
  display: flex;
  flex-direction: column;
}

.hornForm label {
  margin-bottom: 1rem;
}

.btn {
  margin: auto;
  width: 40%;
  font-size: .75vw;
}

label {
  font-size: 1vw;
}
select {
  margin-left: 1rem;
  width: 5%;
}